@(id: String, action: Call)(body: Html)
<style>
    .error {
        color: red;
        border-color: red;
    }
</style>

<form id="form_@id" action="@action" method="POST" onsubmit="submitForm();return false;">
    @body
</form>
<script type="text/javascript">
    function insertErrors (errors, fieldName, fieldId) {
        var span = document.createElement ("span");
        span.innerHTML = "<ul>";
        errors.forEach(function (error) {
            span.innerHTML = span.innerHTML + "<li>" + error + "</li>" ;
        });
        span.innerHTML = span.innerHTML + "</ul>" ;
        var spanId = fieldName + "_error";
        span.setAttribute("id", spanId) ;
        if ($("#"+spanId) != null) {
            $(fieldId).parent().children().remove("#"+spanId);
        }
        $(fieldId).parent().append(span);
    }

    function submitForm() {
        $.ajax({
            url:  $("#form_@id").attr("action"),
            type: $("#form_@id").attr("method"),
            data: $("#form_@id").serialize(),
            error: function(data) {
                var json = window.JSON.parse(data.responseText);
                json.forEach(function (field) {
                    var fieldName = field.field;
                    var errors = new Array(field.error);
                    var fieldId = "#"+fieldName;
                    insertErrors ( errors, fieldName, fieldId ) ;
                    $(fieldId).addClass("error");
                    $(fieldId+"_field").addClass("error");
                    for(s in $(fieldId).parent.siblings) {
                        s.addClass("error");
                    }
                });
            },
            success : function (data) {
                window.location.replace(data);
            }
        });
    }
</script>