@(opener: String, title: String, width: Integer = 640, height: Integer = 480)(body: Html)
<script>
    $(function() {
        $("#dialog_@opener").dialog({
            resizable: false,
            modal: true,
            autoOpen: false,
            width: @width,
            //height: @height,
            draggable: false
        });
        $("#@opener").click(function() {
            $("#dialog_@opener").dialog("open");
        });
    });
</script>
<div id="dialog_@opener" title="@title">
    @body
</div>
