@(user: User, positionForm: Form[Position])
@main(user) {
    <h1>Positions</h1>
    <button id="newPosition" style="float: right;">New Position</button>
    @dialog("newPosition", "New position") {
        @positions.create(positionForm, user)
    }

    @table("positions") {
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @for(position <- user.company.positions) {
            <tr>
                <td>@position.getId</td>
                <td><a href="/positions/@position.getId">@position.name</a></td>
            </tr>
        }
        </tbody>
    }
}