@(user: User, positionForm: Form[Position])
@main(user) {

    <button id="newPosition">New Position</button>
    @dialog("newPosition", "New position") {
        @positions.createNewPosition(positionForm, user)
    }

    <script>
        $(document).ready(function() {
            $('#example').dataTable();
        } );
    </script>


    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @for(position <- user.company.positions) {
            <tr>
                <td>@position.id</td>
                <td><a href="/positions/@position.id">@position.name</a></td>
            </tr>
        }
        </tbody>
    </table>

}