@(user: User, positionForm: Form[Position])
@import play.i18n._

@main(user) {
    <h1>
        @Messages.get("positions.index.title")

        <button id="newPosition" style="float: right;">@Messages.get("positions.button.newposition")</button>
    </h1>
    @dialog("newPosition", Messages.get("positions.button.newposition"), height = 220) {
        @positions.create(positionForm)
    }

    @table("positions", headers = Seq(Messages.get("positions.index.table.header.name"))) {
        @for(position <- user.company.positions) {
            <tr>
                <td><a href="/positions/@position.getId">@position.name</a></td>
            </tr>
        }
    }
}