@(position: Position, user: User, positionForm: Form[Position], documentForm: Form[Document])

@main(user) {

    <h1>@position.name</h1>
    <button id="updateCharacteristics" style="float: right;">Update</button>
    @dialog("updateCharacteristics", "Characteristics") {
        @positions.update(position, positionForm)
    }

    <h2>Candidates</h2>
    @table(id = "candidates", headers = Seq("Name")) {
        @for(candidate <- position.candidates) {
        <tr>
            <td>@candidate.lastname, @candidate.firstname</td>
        </tr>
        }
    }

    @documents.cartridge(documentForm, position)

}