@(position: Position, user: Member, positionForm: Form[Position], documentForm: Form[Document])

@main(user) {

    <h1>@position.getName</h1>
    <button id="updateCharacteristics" style="float: right;">Update</button>
    @components.dialog("updateCharacteristics", "Characteristics") {
        @positions.update(position, positionForm)
    }

    <h2>Candidates</h2>
    @components.table(id = "candidates", headers = Seq("Name")) {
        @for(candidate <- position.getApplicants) {
        <tr>
            <td>@candidate.getLastname, @candidate.getFirstname</td>
        </tr>
        }
    }

    @documents.cartridge(documentForm, position, routes.Positions.read(position.getId).url)

}