@(position: Position, user: User, positionForm: Form[Position], documentForm: Form[Document])

@main(user) {

    <h1>@position.name</h1>
    <button id="updateCharacteristics" style="float: right;">Update</button>
    @dialog("updateCharacteristics", "Characteristics") {
        @positions.update(position.getId, positionForm, user, "updateCharacteristics")
    }

    <h2>Candidates</h2>
    @table("candidates") {
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
            @for(candidate <- position.candidates) {
            <tr>
                <td>@candidate.lastname, @candidate.firstname</td>
            </tr>
            }
        </tbody>
    }

    @documents.cartridge(documentForm, position)

}