@(openingForm: Form[Opening])
@import play.i18n._
@import helper._
@implicitField = @{ FieldConstructor(components.myFieldConstructorTemplate.render) }
@components.ajaxform(id = "createPosition", action = routes.Openings.save()) {
    <fieldset>
        @inputText(openingForm("name"), '_label -> Messages.get("openings.form.label.name"), 'size -> 30)

        @inputDate(openingForm("startDate"), '_label -> "Start Date")

        @select(
            openingForm("salary"),
            options = options(Salaries.list),
            '_default -> "--- Choose a salary ---",
            '_label -> "Salary"
        )

        @inputRadioGroup(
            openingForm("sex"),
            options = options("M"->"Male","F"->"Female"),
            '_label -> "Sex"
        )

        @checkbox(field = openingForm("sexist"))

        @textarea(field = openingForm("comment"), args = 'rows -> 3, 'cols -> 50)

        @select(
            openingForm("a"),
            options = options(Salaries.list),
            '_default -> "--- Choose A ---",
            '_label -> "A"
        )

        @select(
            openingForm("b"),
            options = options(),
            '_default -> "--- Choose B ---",
            '_label -> "B"
        )

    </fieldset>
    <div class="actions">
        <input type="submit" value="@Messages.get("common.Submit")" class="btn btn-success">
        <a href="@routes.Openings.list()" class="btn btn-danger">@Messages.get("common.Cancel")</a>
    </div>

    <script type="text/javascript" charset="utf-8">
        linkLists("#a", "#b", "/a");
    </script>
}