@(opening: Opening, user: Member, openingForm: Form[Opening], documentForm: Form[Document], commentForm: Form[Comment])

@main(user) {

    <h1>@opening.getName</h1>
    <button id="updateCharacteristics" style="float: right;">Update</button>
    @components.dialog("updateCharacteristics", "Characteristics") {
        @openings.update(opening, openingForm)
    }

    <h2>Candidates</h2>
    @components.table(id = "candidates", headers = Seq("Name")) {
        @for(applicant <- opening.getApplicants) {
        <tr>
            <td><a href="@routes.Applicants.read(applicant.getId)">@applicant.getLastname, @applicant.getFirstname</a></td>
        </tr>
        }
    }

    @documents.cartridge(documentForm, opening, routes.Openings.read(opening.getId).url)
    @comments.cartridge(commentForm, opening, routes.Openings.read(opening.getId).url)

}