@(user: Member)
@import play.i18n._
@main(user) {
    <h1>
        @Messages.get("applicants.index.title")
    </h1>

    <p class="alert-info">
        You can create applicant by sending an email at <i><b><a href="mailto:8a576278851e473b61ec+@user.getId@@cloudmailin.net">8a576278851e473b61ec+@user.getId@@cloudmailin.net</a></b></i>.
        Put the applicant's name as subject and attach related files.
    </p>

    @components.table("applicants", headers = Seq(Messages.get("applicants.index.table.header.name"), "Status")) {
        @for(applicant <- user.getAccount.getApplicants) {
            <tr>
                <td><a href="@routes.Applicants.read(applicant.getId)">@applicant.getFullname</a></td>
                <td>@applicant.getApplianceStatus</td>
            </tr>
        }
    }
}