@(applicant: Applicant, user: Member, documentForm: Form[Document], commentForm: Form[Comment])

@selectApplianceStatus = {
    <div style="float:right;">
        <select id="applianceStatus">
        @for(status <- ApplianceStatus.values()) {
            <option @if(status == applicant.getApplianceStatus) {selected} value="@status.ordinal">@status.name</option>
        }
        </select>
    </div>
    <script>
        $('#applianceStatus').
        change(function () {
            $.post(
                "@routes.Applicants.changeApplianceStatus(applicant).url",
                {
                    applianceStatus: $("#applianceStatus option:selected")[0].value
                }
            );
        });
    </script>
}

@main(user) {
    <h1>
        @applicant.getFullname
        @selectApplianceStatus
    </h1>

    @tags.cartridge(Applicants.getTags(applicant), routes.Tags.save(applicant.getId, applicant.getClass.getName).url, routes.Tags.delete(applicant.getId, applicant.getClass.getName).url)
    @documents.cartridge(documentForm, applicant, routes.Applicants.read(applicant).url)
    @comments.cartridge(commentForm, applicant, routes.Applicants.read(applicant).url)
}