@(form: Form[Document], documentable: Documentable, callback: String)

<h2>
    Documents
    <button id="newDocument" style="float: right;">New Document</button>
</h2>

@components.dialog("newDocument", "Add Document") {
    @documents.create(form, documentable.getId, documentable.getType.getName, callback)
}

@components.table("documents", headers = Seq("Name", "Type", "Size")) {
    @if(documentable.getDocuments != null) {
        @for(document <- documentable.getDocuments) {
            <tr>
                <td><a href="@document.getUrl">@document.getName</a></td>
                <td>@document.getContentType</td>
                <td>@formatters.BytesFormatter.format(document.getSize)</td>
            </tr>
        }
    }
}