@(form: Form[Document], documentable: Documentable)

<h2>
    Documents
    <button id="newDocument" style="float: right;">New Document</button>
</h2>

@components.dialog("newDocument", "Add Document") {
    @documents.create(form, documentable.getId())
}

@components.table("documents", headers = Seq("Name", "Type", "Size")) {
    @if(documentable.getDocuments() != null) {
        @for(document <- documentable.getDocuments()) {
            <tr>
                <td><a href="@document.url">@document.name</a></td>
                <td>@document.contentType</td>
                <td>@document.sizeToString</td>
            </tr>
        }
    }
}