@(user: Member, blogPost: BlogPost, form: Form[BlogPost])

@createButton = {
    <button id="newBlogPost" style="float: right;">New Post</button>
    @components.dialog("newBlogPost", "New Post", width = 1024) {
        @blog.create(form)
    }
}

@editButton = {
    <button id="editBlogPost" style="float: right;">Edit</button>
    @components.dialog("editBlogPost", "Edit Post", width = 1024) {
        @blog.edit(blogPost)
    }
}

@main(user){
    <h1>
        @if(blogPost != null) {
            @blogPost.getTitle
            @formatters.DateFormatter.format_DD_MM_YYYY(blogPost.getCreatedAt)
        }
        @if(user != null && user.isAdministrator()) {
            @createButton
        }
    </h1>
    @if(blogPost == null) {
        No post to display
    } else {
        <p>

            @if(user != null && user.isAdministrator()) {
                @editButton
            }
        </p>
        @Html(blogPost.getText)

        @if(Blog.hasPrevious(blogPost)) {
            @defining(Blog.previousOf(blogPost)) { previousPost =>
                <a style="float: left;" href="@routes.Blog.read(previousPost)">Previous : @previousPost.getTitle</a>
            }
        }

        @if(Blog.hasNext(blogPost)) {
            @defining(Blog.nextOf(blogPost)) { nextPost =>
            <a style="float: right;" href="@routes.Blog.read(nextPost)">Next : @nextPost.getTitle</a>
            }
        }
    }
}