@(user: Member)
@import formatters._

@planShares = {
    <div id="plan_shares" style="min-width: 400px; height: 300px;"></div>
    @defining(AdministratorDashboard.getAccounts.groupBy(_.getAccountType)) { accountTypes =>
        @defining(accountTypes.map(accountType => Tuple2(accountType._1.name,accountType._2.size))) { data =>
            @components.charts.pie("#plan_shares", "Plan shares", data)
        }
    }
}

@revenueShares = {
    <div id="revenue_shares" style="min-width: 400px; height: 300px;"></div>
    @defining(AdministratorDashboard.getAccounts.groupBy(_.getAccountType)) { accountTypes =>
        @defining(accountTypes.map(accountType => Tuple2(accountType._1.name, accountType._2.map(account => account.getAccountType.getPrice).sum))) { data =>
            @components.charts.pie("#revenue_shares", "Revenue shares", data)
        }
    }
}

@main(user){

    <h1>Dashboard</h1>

    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <th style="text-align: center;">Plan</th>
            <th style="text-align: center;">Customers</th>
            <th style="text-align: center;">Price</th>
            <th style="text-align: center;">Total</th>
            <th style="text-align: center;">Used Space</th>
        </thead>
        <tbody style="text-align: right;">
            @defining(AdministratorDashboard.getAccounts.groupBy(_.getAccountType)) { accountTypes =>
                @for(accountType <- AccountType.values) {
                    @defining(accountTypes.get(accountType)) { accounts =>
                        <tr>
                            <td style="text-align: left;" >@accountType</td>
                            <td>
                                @if(accounts.isDefined) {
                                    @NumberFormatter.format(accounts.get.size)
                                } else {
                                    0
                                }
                            </td>
                            <td>@accountType.getPrice €</td>
                            <td>
                                @if(accounts.isDefined) {
                                    @(Math.round(accounts.get.size * accountType.getPrice)) €
                                } else {
                                    0 €
                                }
                            </td>
                            <td>@BytesFormatter.format(accounts.get.map(account => account.getUsedSpace).sum)</td>
                        </tr>
                    }
                }
            }
            <tr>
                <td style="font-weight: bold; text-align: center;">Total</td>
                <td style="font-weight: bold;">@NumberFormatter.format(AdministratorDashboard.getAccounts.size)</td>
                <td></td>
                <td style="font-weight: bold;">@NumberFormatter.format((Math.round(AdministratorDashboard.getAccounts.map(account => account.getAccountType.getPrice).sum))) €</td>
                <td style="font-weight: bold;">@BytesFormatter.format(AdministratorDashboard.getAccounts.map(account => account.getUsedSpace).sum)</td>
            </tr>
        </tbody>
    </table>

    @planShares
    @revenueShares

}