@(emailForm: Form[Application.Email], companies: List[Company])
@import helper._
@main("Dry Taiga") {

    <ul>
    @for(company <- companies) {
        <li>[@company.id] @company.name</li>

        Members:
        <ul>
            @for(member <- company.members) {
                <li>[@member.id] @member.firstname @member.lastname</li>
            }
        </ul>

        Positions:
        <ul>
        @for(position <- company.positions) {
            <li>[@position.id] @position.name</li>
            Candidates
            <ul>
                @for(candidate <- position.candidates) {
                    <li>[@candidate.id] @candidate.firstname @candidate.lastname</li>
                }
            </ul>
        }
        </ul>
    }
    </ul>

    @form(action = routes.Application.sendEmail, args = 'id -> "helloform") {

        @inputText(
            field = emailForm("address"),
            args = '_label -> "Email address ?", 'placeholder -> "julien.smadja@gmail.com"
        )

        <p class="buttons">
            <input type="submit">
        <p>

    }

}
