@(emailForm: Form[Application.Email], candidates: List[Candidate])
@import helper._
@main("Todo list") {

    <ul>
    @for(candidate <- candidates) {
        <li>@candidate.firstname @candidate.lastname</li>
    }
    </ul>

    @form(action = routes.Application.sendEmail, args = 'id -> "helloform") {

        @inputText(
            field = emailForm("address"),
            args = '_label -> "Email address ?", 'placeholder -> "julien.smadja@gmail.com"
        )

        <p class="buttons">
            <input type="submit">
        <p>

    }

}
