@(form: Form[Application.LoginForm])
@main(){
    @helper.form(routes.Application.authenticate, 'id -> "loginForm") {
        <h1>Sign in</h1>
        @if(form.hasGlobalErrors) {
            <p class="error">
               @form.globalError.message
            </p>
        }
        <p>
            <input id="email" type="email" name="email" placeholder="Email" value="@form("email").value">
        </p>
        <p>
            <input id="password" type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button id="submit" type="submit">Login</button>
        </p>

        <h1>Accounts</h1>

        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <th>Plan</th>
                <th>Login</th>
                <th>Password</th>
                <th>Account</th>
            </thead>
            <tr>
                <td></td>
                <td>julien.smadja@@gmail.com</td>
                <td>password</td>
                <td>Administrator</td>
            </tr>
            @for(account <- Account.find.all()) {
             <tr>
                 <td>@account.getAccountType.name</td>
                 <td>@account.getMembers.get(0).getEmail</td>
                 <td>@account.getMembers.get(0).getPassword</td>
                 <td>@account.getApplicantCount applicants, @account.getOpeningCount openings, @account.getMemberCount members</td>
             </tr>
            }
        </table>

    }
}