@(form: Form[Application.LoginForm])
<html>
    <head>
        <title>DT</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
    @helper.form(routes.Application.authenticate, 'id -> "loginForm") {
        <h1>Sign in</h1>
        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
            @flash.get("success")
            </p>
        }
        <p>
            <input id="email" type="email" name="email" placeholder="Email" value="@form("email").value">
        </p>
        <p>
            <input id="password" type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button id="submit" type="submit">Login</button>
        </p>
    }
    </body>
</html>



