@(user: Member)(body: Html)
@import play.i18n._
<html lang="en">
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>DryTaiga</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/drytaiga.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui/jquery.ui.all.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatables/css/demo_page.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatables/css/demo_table.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    </head>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dry Taiga</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@routes.Positions.list">@Messages.get("positions.index.title")</a></li>
                    <li><a href="#">@Messages.get("candidates.index.title")</a></li>
                    <li><a href="@routes.Pricing.index">Pricing</a></li>
                    @if(user != null) {
                        <li><a href="#">@user.getLastname @user.getFirstname</a></li>
                        <li><a href="#">@user.getCompany.getName</a></li>
                        <li><a href="/logout">@Messages.get("common.Logout")</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body-content" style="margin-top: 100px;">
            @body
            <hr>
            <footer>
                <div style="text-align: center;">
                <p>
                &copy; Dry Taiga 2013
                </p>
                </div>
            </footer>
        </div>
    </div>
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
</html>
