@(user: User)(body: Html)
<html>
    <head>
        <title>DryTaiga</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui/jquery.ui.all.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatables/css/demo_page.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datatables/css/demo_table.css")">

    </head>
    <body>
        @body
        @if(user != null) {
            <div style="border-style: solid; float:right; position: absolute; vertical-align: top; right: 0px;">
            @user.firstname
            @user.company.name
            <a href="/logout">logout</a>
            </div>
        }
    </body>
</html>

