@(user: Member)
@main(user){
    <h1>Pricing</h1>
    <table class="table table-bordered table-condensed table-striped" style="width: 90%">

        <thead style="text-align: center; font-weight: bold;">
            <td></td>
            <td>FREE</td>
            <td>
                START-UP
                <p>
                    ( € 24.99 / Month )
                </p>
            </td>
            <td>
                ESTABLISHED COMPANY
                <p>
                    ( € 34.99 / Month )
                </p>
            </td>
            <td>
                LARGE or GROWING COMPANY
                <p>
                    ( € 69.99 / Month )
                </p>
            </td>
        </thead>

        <tbody style="text-align: center;">
            <tr>
                <td style="font-weight: bold;">BASIC USAGE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td style="text-align: right;">USERS</td>
                <td>1</td>
                <td>5</td>
                <td>25</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td style="text-align: right;">OPENINGS</td>
                <td>1</td>
                <td>10</td>
                <td>25</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td style="text-align: right;">APPLICANTS</td>
                <td>100</td>
                <td>1 000</td>
                <td>5 000</td>
                <td>Unlimited</td>
            </tr>
            <tr>
                <td style="text-align: right;">AVAILABLE SPACE</td>
                <td>250 MB</td>
                <td>2 GB</td>
                <td>25 GB</td>
                <td>200 GB</td>
            </tr>
        </tbody>

    </table>
}